.note-edit-item {
    padding: 20px 16px;
    background-color: white;
    border-radius: 8px;
    text-align: left;
    transition: transform 0.26s ease-in-out;
    box-shadow:
            rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.note-edit-item__actions-btn {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 12px;
}